package view

templ Page(config PageConfig, component templ.Component) {
	<!DOCTYPE html>
	<html>
		@header(config)
		@body(component)
	</html>
}

func NewPageConfig(title, description string) PageConfig {
	return PageConfig{title: title, description: description}
}

type PageConfig struct {
	title       string
	description string
}

templ header(config PageConfig) {
	<head lang="en">
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!-- Pre load -->
		<link href="/output.css" rel="stylesheet"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"/>
		<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
		<link rel="icon" href="/favicon.ico"/>
		<link rel="canonical" href="https://haydenroszell.com/"/>
		<!-- SEO -->
		<title>{ config.title }</title>
		<meta name="description" content={ config.description }/>
		<meta name="author" content="Hayden Roszell"/>
		<meta name="robots" content="index, follow"/>
		<meta name="keywords" content="Hayden Roszell, software engineer, Kubernetes, Go developer, DevOps, full-stack developer, cloud infrastructure"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="language" content="English"/>
		<meta property="og:title" content={ config.title }/>
		<meta property="og:description" content={ config.description }/>
		<meta property="og:image" content="https://haydenroszell.com/images/bendy_profile.jpeg"/>
		<meta property="og:url" content="https://haydenroszell.com/"/>
		<meta property="og:type" content="website"/>
		<script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Person",
              "name": "Hayden Roszell",
              "url": "https://haydenroszell.com",
              "sameAs": [
                "https://github.com/m8rmclaren",
                "https://www.linkedin.com/in/haydenroszell"
              ],
              "jobTitle": "Software Engineer"
            }
        </script>
	</head>
}

templ body(component templ.Component) {
	<body
		id="htmx-body"
		hx-boost="true"
		hx-target="#main"
		hx-swap="innerHTML show:#htmx-body:top transition:true"
		hx-ext="preload"
		class="min-h-screen flex flex-col mx-auto w-full bg-white dark:bg-stone-900 dark:text-white font-sans"
	>
		@topBar()
		<div
			id="main"
		>
			<div
				id="main"
				class="main flex-grow max-w-3xl md:max-w-5xl mx-auto px-4 py-8"
				hx-indicator=".loading-bar"
				hx-history-elt
			>
				@component
			</div>
			@footer()
		</div>
	</body>
}

templ topBar() {
	<div
		id="top-bar"
		class="bg-[#4876A2] fixed top-0 left-0 w-full h-6 shadow-md transition-opacity duration-300 opacity-100 z-50"
	></div>
}

templ footer() {
	<footer class="self-end mt-auto w-full">
		<a href="https://github.com/m8rmclaren" rel="noopener" class="group flex flex-col justify-center items-center h-14 bg-gray-300 text-stone-600 dark:bg-stone-800 dark:text-stone-200">
			<span class="text-sm">&lt;/&gt; with ❤️ by <span class="text-amber-700 dark:text-amber-200 group-hover:underline group-hover:font-bold">&#64;m8rmclaren</span></span>
		</a>
	</footer>
}
