package view

templ Experience() {
	<div class="flex flex-col gap-2">
		<div class="flex flex-col md:flex-row gap-8">
			<h2 class="text-3xl font-bold w-36">Experience</h2>
			<div class="flex flex-col gap-8">
				@experienceCard(
					"Keyfactor",
					"Product Owner",
					"Remote",
					"November 2024-Current",
					[]string{
						"Contributed to official Keyfactor documentation site for configuring Keyfactor products with 3rd party providers.",
						"Served as Product Owner for both core features of Keyfactor’s flagship product and several ancillary products.",
					},
				)
				@experienceCard(
					"Keyfactor",
					"Software Engineer - Integrations",
					"Remote",
					"May 2023-November 2024",
					[]string{
						"Implemented and shipped key integrations to platforms & applications such as Azure & Kubernetes. Contributed to open-source projects like SPIFFE SPIRE & Mender Artifact.",
						"Streamlined internal documentation procurement processes to enhance consistency and clarity and reduce developer workloads.",
						"Designed and implemented developer platform used by more than 20% of Keyfactor staff.",
					},
				)
				@experienceCard(
					"Keyfactor",
					"Software Engineer Intern - Integrations",
					"Remote",
					"June 2020-May 2023",
					[]string{
						"Conducted research for most popular DevOps tools to determine digital certificate usage.",
						"Implemented and shipped integrations targeting cert-manager (K8s), Terraform, Hashicorp Vault",
					},
				)
				@experienceCard(
					"Home Advisor",
					"Service Desk Intern",
					"Denver, CO",
					"June 2017-August 2019",
					[]string{
						"First-line IT support for a team of over 2,800 at HomeAdvisor.",
					},
				)
			</div>
		</div>
	</div>
}

templ Education() {
	<div class="flex flex-col gap-2">
		<div class="flex flex-col md:flex-row gap-8">
			<h2 class="text-3xl font-bold w-36">Education</h2>
			@experienceCard(
				"Embry-Riddle Aeronautical University",
				"BS, Software Engineering",
				"Prescott, AZ",
				"August 2019-May 2023",
				[]string{"Space Track"},
			)
		</div>
	</div>
}

templ experienceCard(company, title, location, duration string, descriptionLines []string) {
	<div class="flex flex-col gap-1">
		<h2 class="text-xl font-bold">{ company } &#x2022; { title }</h2>
		<p class="font-medium">
			{ location } &#x2022; { duration }
		</p>
		<div class="flex flex-col gap-2 pt-2">
			for _, description := range descriptionLines {
				<p>
					{ description }
				</p>
			}
		</div>
	</div>
}
