package view

import "github.com/m8rmclaren/website/template/components"

templ keyfactorProductOwnerDescription() {
	<p>
		@components.InlineBold("Conducted internal and customer interviews")
		to identify and prioritize optimizations that removed major pain points in deploying and scaling integrations with Keyfactor’s core products; follow-up interviews showed 
		@components.InlineBold("measurable improvements")
		in customer deployment speed and reliability.
	</p>
	<p>
		Combined understanding of customer pain points with product and technical context to guide features that reduced deployment friction and enabled long-term scalability.  
	</p>
}

templ keyfactorIntegrationEngineerDescription() {
	<p>
		Identified a major inefficiency in deploying lab workspaces, where deploying Keyfactor’s products typically required 2+ hours of specialized work across many skill domains. Designed and built the 
		<a
			href="/blog/simple-environment-service"
			rel="noopener"
			class="font-medium text-blue-600 underline decoration-blue-400 decoration-2 underline-offset-2 
           transition-all duration-200 ease-in-out
           hover:text-blue-800 hover:decoration-blue-600 hover:underline-offset-4
           focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
		>Simple Environment Service</a>
		to reduce this to 
		@components.InlineBold("under 10 minutes,")
		providing fully configured, batteries-included environments without requiring domain expertise. Championed adoption across the company, with 
		@components.InlineBold("over 20%")
		of staff using the service to launch 
		@components.InlineBold("100+ environments")
		on 
		@components.InlineBold("40+ nodes,")
		handling 
		@components.InlineBold("1.8M+ daily")
		HTTP requests and ingesting 
		@components.InlineBold("68M+")
		log records per day.
	</p>
	<p>
		Recognized widespread frustration from customers and engineers caused by inconsistent documentation across 100+ integrations. Developed a standardized documentation format and parser that separated content from presentation, allowing engineers to focus on code while ensuring customers received clear, uniform docs. Championed the approach within the team and 
		@components.InlineBold("drove adoption across 100+ repositories,")
		improving readability, reducing maintenance overhead, and accelerating updates.
	</p>
}

templ keyfactorIntegrationEngineerInternDescription() {
	<p>
		Researched and documented how 30+ DevOps tools use X.509 digital certificates, building a knowledge base that accelerated responses to customer technology inquiries for the Solutions Engineering team. 
	</p>
	<p>
		Wrote Kubernetes controllers to extend cert-manager issuance capabilities to Keyfactor Command & EJBCA.
	</p>
	<p>
		Wrote HashiCorp Vault PKI engine to extend Vault PKI features to Keyfactor Command & EJBCA.
	</p>
	<p>
		Wrote Terraform provider to enable configuration & certificate issuance with Keyfactor products.
	</p>
}

templ eaglesatBusSystemsIntegrationTeamLead() {
	<p>
		Designed mission profiles for each sub-system on board EagleSat-2 to implement the required satellite functionality. Mission profiles are implemented with finite state machines that maintain nominal satellite operation while EagleSat-2 is not in contact with the ground station on ERAU's campus. 
	</p>
	<p>
		Configured and managed the On-Board Computer (OBC) real-time operating system (FreeRTOS with CMSIS RTOS V2 API) and developed low-level drivers for serial communication (CAN, UART, I2C).
	</p>
}

templ eaglesatCommunicationsTeamLead() {
	<p>
		Led the communications sub-system team for the EagleSat mission, leading the design, development, and integration of a full-stack satellite communication framework to implement command and control (C2) over EagleSat-2.
	</p>
	<p>
		Designed and implemented a headless UHF ground station and a packet-radio communication application (C++) to handle packet routing between the primary C2 platform and the satellite, provide connection statistics, detect satellite range, and calculate Doppler shift.
	</p>
}

templ erauSoftwareEngineeringDescription() {
	<p>
		@components.InlineBold("GPA: ")
		3.89 (magna cum laude)
	</p>
	<p>
		@components.InlineBold("Activities & Societies: ")
		EagleSat Engineering Team Lead, UAS Club Secretary, Cyber Defense Club, Computer Science II TA
	</p>
}

templ Experience() {
	<div class="flex flex-col md:flex-row gap-8">
		<div class="min-w-40 shrink-0">
			<h2 class="text-3xl font-bold">Experience</h2>
		</div>
		<div class="flex flex-col gap-8">
			@experienceCard(
				"Keyfactor",
				"Product Management",
				"Product Owner",
				"",
				"Nov 2024-Aug 2025",
				keyfactorProductOwnerDescription(),
			)
			@experienceCard(
				"Keyfactor",
				"Integrations",
				"Software Engineer",
				"",
				"May 2023-Nov 2024",
				keyfactorIntegrationEngineerDescription(),
			)
			@experienceCard(
				"Keyfactor",
				"Solutions Engineering",
				"Software Engineer Intern",
				"",
				"Jun 2020-May 2023",
				keyfactorIntegrationEngineerInternDescription(),
			)
			@experienceCard(
				"EagleSat",
				"",
				"Bus Systems Integration Manager",
				"Prescott, AZ",
				"Sep 2022-May 2023",
				eaglesatBusSystemsIntegrationTeamLead(),
			)
			@experienceCard(
				"EagleSat",
				"",
				"Communications & Ground Station Team Lead",
				"Prescott, AZ",
				"May 2021-Sep 2022",
				eaglesatCommunicationsTeamLead(),
			)
		</div>
	</div>
}

templ Education() {
	<div class="flex flex-col md:flex-row gap-8">
		<div class="min-w-40 shrink-0">
			<h2 class="text-3xl font-bold">Academia</h2>
		</div>
		<div class="flex flex-col gap-8 justify-self-start">
			@experienceCard(
				"Embry-Riddle Aeronautical University",
				"",
				"BS, Software Engineering",
				"Prescott, AZ",
				"Aug 2019-May 2023",
				erauSoftwareEngineeringDescription(),
			)
		</div>
	</div>
}

templ experienceCard(company, team, title, location, duration string, description templ.Component) {
	<div class="flex flex-col gap-1">
		<h3 class="text-xl font-bold">
			{ company } &#x2022; { title }
			if team != "" {
				&mdash; { team }
			}
		</h3>
		<p class="font-medium">
			if location != "" {
				{ location } &#x2022; 
			}
			{ duration }
		</p>
		<div class="flex flex-col gap-2 pt-2">
			@description
		</div>
	</div>
}
