package view

import "github.com/m8rmclaren/website/template/components"

templ About() {
	<div class="flex flex-col md:flex-row gap-4 pb-4">
		<img src="/images/bendy_profile.jpeg" alt="Profile" class="rounded-2xl h-auto w-full max-h-96 object-cover md:h-96 md:w-auto"/>
		<div class="flex flex-col justify-between">
			@profile()
			@links()
		</div>
	</div>
}

templ profile() {
	<div class="flex flex-col gap-4">
		<div>
			<h1 class="text-4xl font-bold">Hayden Roszell</h1>
		</div>
		<p>
			Hi, I&apos;m Hayden. I'm a software engineer who builds systems with intention — rooted in fundamentals, driven by outcomes, and deeply connected to the tools I use. 
		</p>
		<p>
			I’ve spent the last several years designing infrastructure, writing code across stacks, and turning complex requirements into maintainable systems. Recently, I&apos;ve been building systems using 
			<a
				class="inline-flex items-center gap-1 border border-gray-300 rounded px-1 transition-all duration-200 hover:border-gray-500 hover:px-2"
				href="https://github.com/m8rmclaren/website"
				rel="noopener"
				target="_blank"
			>
				@components.GithubIcon("w-3 fill-[#24292F] dark:fill-white")
				<span>Go</span>
			</a>
			and
			<a
				class="inline-flex items-center gap-1 border border-gray-300 rounded px-1 transition-all duration-200 hover:border-gray-500 hover:px-2"
				href="https://github.com/m8rmclaren/infra"
				rel="noopener"
				target="_blank"
			>
				@components.GithubIcon("w-3 fill-[#24292F] dark:fill-white")
				<span>Kubernetes</span>
			</a>
			.
		</p>
	</div>
}

templ links() {
	<div class="flex flex-row flex-wrap gap-x-2">
		<a
			href="https://www.linkedin.com/in/haydenroszell"
			rel="noopener"
			target="_blank"
			class="text-gray-800 bg-gray-200 hover:bg-gray-300/90 focus:ring-gray-200/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex flex-row gap-2 items-center dark:hover:bg-[#050708]/30 me-2 mb-2 border border-gray-300 hover:border-gray-500 hover:px-6 transition-all duration-200"
		>
			@components.LinkedinIcon("w-8")
			Find me on Linkedin
		</a>
		<a
			href="https://github.com/m8rmclaren"
			rel="noopener"
			target="_blank"
			class="text-white bg-[#24292F] hover:bg-[#24292F]/90 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex flex-row gap-2 items-center dark:hover:bg-[#050708]/30 me-2 mb-2 hover:px-6 transition-all duration-200"
		>
			@components.GithubIcon("w-8 fill-white")
			Find me on Github
		</a>
	</div>
}
