package view

import "github.com/m8rmclaren/website/template/components"

templ About() {
	<div class="flex flex-col md:flex-row gap-4 pb-4">
		@components.Image("/images/bendy_profile.jpeg", "Profile", "shadow-2xl rounded-2xl h-auto w-full max-h-96 object-cover object-top md:h-96 md:w-auto")
		<div class="flex flex-col justify-between gap-4">
			@profile()
			@links()
		</div>
	</div>
}

templ profile() {
	<div class="flex flex-col gap-4">
		<div>
			<h1 class="text-4xl font-bold">Hayden Roszell</h1>
		</div>
		<p>
			Hi, I'm Hayden. Over the past several years I've been designing infrastructure, building systems, writing code across stacks, and turning complex requirements into maintainable solutions.
		</p>
		<p>
			One of the most gratifying parts of being a software engineer for me is that I can manifest my ideas into reality with just my computer, an editor, and an internet connection.
		</p>
		<p>
			I've worked on everything from 
			@components.InlineBold("satellite communication systems")
			& real-time embedded systems, to 
			@components.InlineBold("modern cloud-native products & systems.")
			I've worked as an engineer & as a product owner, and understand how to bridge the gap between 
			@components.InlineBold("technical implementation and business goals.")
		</p>
	</div>
}

templ links() {
	<div class="flex flex-row gap-x-2">
		<a
			href="https://www.linkedin.com/in/haydenroszell"
			rel="noopener"
			target="_blank"
			class="text-gray-800 bg-gray-200 hover:bg-gray-300/90 focus:ring-gray-200/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex flex-row gap-2 items-center dark:hover:bg-[#050708]/30 me-2 mb-2 border border-gray-300 hover:border-gray-500 hover:px-6 transition-all duration-200"
		>
			@components.LinkedinIcon("w-8")
			Find me on Linkedin
		</a>
		<a
			href="https://github.com/m8rmclaren"
			rel="noopener"
			target="_blank"
			class="text-white bg-[#24292F] hover:bg-[#24292F]/90 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex flex-row gap-2 items-center dark:hover:bg-[#050708]/30 me-2 mb-2 hover:px-6 transition-all duration-200"
		>
			@components.GithubIcon("w-8 fill-white")
			Find me on Github
		</a>
		<a
			href="/download/HaydenJRoszell.pdf"
			download="HaydenJRoszell.pdf"
			hx-boost="false"
			class="text-white bg-[#24292F] hover:bg-[#24292F]/90 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex flex-row gap-2 items-center dark:hover:bg-[#050708]/30 me-2 mb-2 hover:px-6 transition-all duration-200"
		>
			@components.DownloadIcon("w-8 fill-white")
			CV
		</a>
	</div>
}
