package view

templ Values() {
	<div>
		<h2 class="text-xl">My values</h2>
		<p class="mb-4">
			I care deeply about craftsmanship, clarity, and impact. Here are a few things I believe:
		</p>
		<ul class="list-disc list-outside pl-6 space-y-2 mb-6">
			<li>My career is important to me and I have high internal motivation to grow and learn.</li>
			<li>Achieving success in my career is impossible without a balanced life outside of work. Taking care of my mind and body is important.</li>
			<li>Becoming truly excellent at anything — especially engineering — takes a tremendous amount of intention and dedication. I'm skeptical of people who think otherwise.</li>
			<li>I engineer software based on requirements and expected outcomes. I don't make arbitrary decisions.</li>
			<li>Truly impactful innovation doesn't exist without a strong connection to fundamentals.</li>
			<li>Productive software engineers are masters of their computers. My computer feels and works exactly how I want it to.</li>
			<li>I have very strong, but weakly held opinions. For example, Go is the best programming language.</li>
		</ul>
	</div>
}
