@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

.loading-bar {
    z-index: 100;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.75rem;
    background: linear-gradient(90deg, transparent,
    #067f0a, transparent,
    #7cd23b, transparent
    );
}


